nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand Blog Vaca
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navContent' aria-controls='navContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  div#navContent.collapse.navbar-collapse
    ul.navbar-nav.ml-auto
      li.nav-item
        a(href='/').nav-link Home
      li.nav-item
        a(href='/newpost').nav-link Crear post
